h1 {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;
}
hr {
	border: 0;
    border-top: 1px solid #eaebec;
    margin-left: 150px;
    margin-right: 150px;
}
.add-section {
	height: 50px;
	width: 100%;
}
#item {
    margin-top: 8px;
    height: 20px;
    width: 200px;
}
button {
    height: 24px;
    width: 38px;
    background: none;
    font-size: 18px;
    font-family: 'Poiret One', cursive
    border: 2px solid;
    border-radius: 5px;
    padding: 0 0 4px 0;
}
#item #add {
	
}
.list-section {
	height: 250px;
	width: 100%;
}
#list li {
    font-size: 24px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    cursor: pointer;
}
.box {
    float: left;
    margin-top: 3px;
    margin-right: 30px;
    height: 17px;
    width: 17px;
    background: url(http://luketheterrible.github.io/ShoppingList/images/box_Sprite.png);
}
.strike {
    text-decoration: line-through;
}
.Checked {
    height: 18px;
    background: url('http://luketheterrible.github.io/ShoppingList/images/box_Sprite.png') 17px 0;
}
.delete {
    float: right;
    margin-top: 3px;
    display: none;
}
.show {
	display: inline;
}
